@import "variables";
@import "bootswatch";
@import "bootstrap";

.sw-block {
  margin: 20px 0;
  background: $gray-dark;
  padding: 25px;
  overflow: hidden;

  &.selectable:hover {
    background: $gray;
    color: black;
    cursor: pointer;
  }
}

.line {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.line-border {
  border-bottom: 1px solid rgba(131, 148, 150, 0.3);
}

