@import "variables";
@import "bootswatch";
@import "bootstrap";

.sw-block {
  margin: 20px 0;
  background: $gray-dark;
  padding: 25px;
  overflow: hidden;

  &.selectable:hover {
    background: $gray;
    color: black;
    cursor: pointer;
  }
}

