<div class="sw-block">
  <div class="row">
    <div class="col-md-6">
      <div class="h1">{{seller.login}}</div>
      <div *ngIf="seller.description">
        <p>О себе:<br>
        {{seller.description}}</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h4">Статистика и информация</div>
      <div class="line">
        <span>Среднее время реагирования (ч)</span>
        <span *ngIf="seller.reaction != -1; else elseReaction" class="right">{{seller.reaction}}</span>
        <ng-template #elseReaction><span class="right">Недостаточно данных</span></ng-template>
      </div>
      <div *ngIf="seller.comfortTime" class="line">
        <span>Удобное время (МСК)</span><span class="right">{{seller.comfortTime}}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button (click)="selectSeller(seller)" class="btn btn-primary pull-right">К выбору игры</button>
    </div>
  </div>
</div>
