<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a [routerLink]="['/']" class="navbar-brand">Название</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/buy']">Купить игру</a>
        </li>
      </ul>

      <div *ngIf="!isLoggedIn">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a [routerLink]="['/sign-in']">Войти</a>
          </li>
          <li>
            <a [routerLink]="['/sign-up']">Регистрация</a>
          </li>
        </ul>
      </div>
      <div *ngIf="isLoggedIn">
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="isSeller"><a [routerLink]="['/seller/purchases']">Заказы</a></li>
          <li><a (click)="gotoProfile()">Профиль</a></li>
          <li><a (click)="logOut()">Выйти</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
