<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a [routerLink]="['/']" class="navbar-brand">Название</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/sellers']">Купить игру</a>
        </li>
        <li>
          <a [routerLink]="['/game-info']">Тест инфы о игре</a>
        </li>
      </ul>

      <div *ngIf="!isLoggedIn">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="sign-in">Войти<span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="sign-in">
              <li><a [routerLink]="['/sign-in', 'seller']">Как продавец</a></li>
              <li><a [routerLink]="['/sign-in', 'buyer']">Как покупатель</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="sing-up">Регистрация<span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="sing-up">
              <li><a [routerLink]="['/sign-up', 'seller']">Как продавец</a></li>
              <li><a [routerLink]="['/sign-up', 'buyer']">Как покупатель</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div *ngIf="isLoggedIn">
        <ul class="nav navbar-nav navbar-right">
          <li><a (click)="logOut()" href="#">Выйти</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
