<div class="row">
  <div class="col-md-12 search-game">
    <label>URL игры:</label>
    <input class="form-control"
           (keyup.enter)="getGameInfo(appUrl.value); appUrl.value=''" #appUrl
           placeholder="URL"/>
    <button class="btn btn-primary" (click)="getGameInfo(appUrl.value); appUrl.value=''">Загрузить</button>
    <div (click)="goBack()" class="btn">Назад</div>
  </div>
</div>
<div *ngIf="game" class="row">
  <div class="col-md-12 header">
    <h2>{{game.name}}</h2>
    <img [src]="game.image">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div [hidden]="packages.length == 0" class="h3">Игра/Наборы</div>
    <div *ngFor="let package of packages">
      <div class="sw-block selectable" (click)="toPayPage(package)">
        <div class="product-item">
          <div class="product-name"><span>{{package.name}}</span></div>
          <div class="product-price"><span>{{package.price}} руб.</span></div>
        </div>
      </div>
    </div>

    <div [hidden]="dlcs.length == 0" class="h3">DLC</div>
    <div *ngFor="let dlc of dlcs">
      <div class="sw-block selectable" (click)="toPayPage(dlc)">
        <div class="product-item">
          <div class="product-name"><span>{{dlc.name}}</span></div>
          <div class="product-price"><span>{{dlc.price}} руб.</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
