.header {
  img {
    width: 50%;
  }
}

.product-item {
  overflow: hidden;

  .product-name {
    float: left;
  }

  .product-price {
    float: right;
  }
}

.search-game {
  margin-top: 20px;

  .form-control {
    display: inline-block;
    width: 250px;
  }

  .btn {
    margin-bottom: 4px;
  }
}

