.pay-page {
  overflow: hidden;
  font-size: 23px;

  .line {
    margin-bottom: 10px;
  }

  .line-img {
    img {
      width: 100%;
    }
    margin-bottom: 20px;
  }

  .btn {
    float: right;
  }

  .h4 {
    font-size: 23px;
  }
}
