<div class="row">
  <div class="col-md-12">
    <div class="top-main-page">
      <div class="top-image">
        <div class="mask"></div>
        <img src="src/images/main-page.jpg" alt="">
      </div>
      <div class="top-text">
        <h1>Название портала - краткое описание</h1>
        <p>Описание поподробнее на 4-5 строчки Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum
          temporibus
          adipisci nam, quae nulla, mollitia ab non a id quam fuga odit dicta, minus nemo blanditiis, quas consectetur
          doloribus laborum modi fugiat quo veniam aliquam maiores. Corrupti aut ducimus sed facilis, nostrum autem
          deserunt iusto consectetur quae odio consequatur expedita.</p>
        <p>Прикольная фразочка</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="content-main">
      <div class="sw-block">
        <div class="row">
          <div class="col-md-12">
            <h2>Твой выбор</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6"><h3>Продавать игры</h3></div>
          <div class="col-md-6"><h3>Покупать игры</h3></div>
        </div>
      </div>
    </div>
  </div>
</div>
